
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Home */
.main-container {
    min-height: 100vh;
    position: relative; 
    overflow: hidden; 
}

/* Estilos para el contenedor de la onda */
.vertical-wave-right {

    display: flex;
    justify-content: center; 
    align-items: center; 

    position: absolute;
    top: 0;
    right: 0; /* Ubica la onda en el lado derecho del main-container */

    z-index: 1;

    height: 100%;
    width: 20%;
}


.vertical-wave-right svg {
    display: block; /* Elimina cualquier espacio extra por debajo del SVG */

    width: 100%; 
}


/* TEXTO */
.page_content {
    padding-left: 30%;
    padding-right: 10%; /* Un poco más que el ancho de la onda para margen */
    min-height: 100vh;
}

.title{
    font-size: 150px;
}

.subtitle{
    font-size: 40px;
    font-weight: 300;
    white-space: nowrap;
}

.page_content .btn{
    margin-top: 20px;
    background-color: #90A1B9;
    width: 200px;
    padding: 7px 0;

    font-weight: 600;
    border: none;
    white-space: nowrap;

}

.page_content .btn:hover, .page_content .btn:focus{
    border: solid 2.5px #90A1B9;
    transform: rotateX(360deg);
    transition: 2s;
}


.Link{
    text-decoration: none;
    color: white;    
}
    .Link:hover, .Link:focus{
    color: black;
}



/* FORM */

.nav-form {
    background-color: #45556C; 
    padding: 15px 20px; 
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.nav-link-home {
    color: white; 
    text-decoration: none; 
    font-size: 1.2rem; 
    display: flex; 
    align-items: center;
    gap: 8px; 
}

.icono-home {
    font-size: 1.5rem; 
    color: white;
}

.nav-link-home:hover, .icono-home:hover, .nav-link-home:focus, .icono-home:focus {
    color: #ADD8E6; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 45px;
}

form {
    max-width: 400px; /* Limita el ancho del formulario */
    width: 100%; /* Asegura que el formulario ocupe el ancho disponible hasta el max-width */
    margin-top: 30px; /* Espacio entre el título y el formulario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para que se vea mejor */
}


form label {
    display: flex; 
    margin-bottom: 10px; 
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%; 
    padding: 10px;
    background-color: #e2e8f0;
    margin-bottom: 15px; 
    border: none;

    border-left: 1.5px solid #45556c;  
    border-bottom: 1.5px solid #45556c;
    
    border-radius: 0;

    
    box-sizing: border-box;

    font-size: 1rem;
    color: #333;

}

form button[type="submit"] {
    display: block;
    width: 100%; 
    padding: 10px;
    background-color: #90A1B9; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #7a8aa3;
}


/* Estilos para los requisitos de contraseña */

#password-requirements ul {
    list-style: none; 
    padding-left: 0; 
    margin-top: 5px;
}

#password-requirements li {
    color: #dc3545; 
    align-items: center;
}

#password-requirements li.valid {
    color: #28a745; /* requisitos cumplidos */
}

/* Opcional: Iconos para los requisitos */
#password-requirements li::before {
    content: "\F42A"; 
    font-family: "bootstrap-icons"; 
    margin-right: 8px;
    font-size: 0.9em;
    display: inline-block; 
}

#password-requirements li.valid::before {
    content: "\F26A"; 
}

.form h1 {
    text-align: center;
    margin-bottom: 0; 
}


/* TABLA */


.tabla-users {
    background-color: #45556c; 
    margin-top: 60px;
    padding-top: 10px;   
    padding-bottom: 30px; 

}

.tabla-users h2{
    color: white;
    margin-left: 15%;
    margin-bottom: 35px;
}


/* FOOTER */

footer {
    background-color: #45556c; 
    color: white;
    text-align: center;
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    
}

.Autores{
    font-size: 1rem;
}

@media (max-width: 1600px) {


    .title{
    font-size: 100px;
}

.subtitle{
    font-size: 30px;
    font-weight: 300;
    white-space: nowrap;
}
}


@media (max-width: 775px) {

    .page_content {
    padding-left: 0; 
    padding-right: 0%; 
}

    .vertical-wave-right {
    display: none;
    }

    .title{
    font-size: 80px;
}


.subtitle{
    font-size: 25px;
    font-weight: 300;
    white-space: nowrap;
}

.page_content .btn{
    margin-top: 10px;
    background-color: #90A1B9;
    width: 150px;
    padding: 3px 0;

    font-weight: 600;
    border: none;


}


}